@font-face {
  font-family: "Helvetica";
  src: url(../fonts/HelveticaNeueLTProLt.otf), format(".otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/HelveticaNeueLTProMd.otf), format(".otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/HelveticaNeueLTProRoman.otf), format(".otf");
  font-weight: 400; /*????*/
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url(../fonts/Merriweather-LightItalic.ttf), format(".ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf), format(".ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf), format(".ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf), format(".ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar { width: 0 !important }

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
}

.menu__item a {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
  text-decoration: none;
  transition: 0.4s;
}

.menu__item a:hover {
    color: #010101;
}

.active a {
  color: #010101;
}

.logo {
  margin: 0 16px;
}

.header__content {
  text-align: center;
}

.header__title {
  font-family: "Helvetica";
  font-size: 44px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 207px auto 4px;
}

.header__text {
  font-family: "Merriweather";
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  letter-spacing: 0.03em;
  color: #898888;
  margin: 0 auto 43px;
}

.header__button {
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 206px;
  transition: 0.6s;
}

.header__button:hover {
    color: #fefefe;
    background-color: #000000;
}

.about {
  height: 1129px;
  background-color: #1d1d1d;
  padding-top: 128px;
  padding-bottom: 271px;
  background: url(../img/buildings_bottom_about.png) center 101% repeat-x,
    url(../img/buildings_bottom_about_black.png) center 101% repeat-x, #1d1d1d;
  /* background-size: contain, contain; */
}

.about__inner {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: max-content max-content;
  grid-gap: 178px;
  place-content: center center;
}

.about__item {
  width: 417px;
  height: 276px;
  /* background-image: url(../img/about_item_bg.png); */
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  text-align: center;
}

.about__year {
  font-family: "Helvetica";
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #fefefe;
}

.about__text {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #b7b7b7;
}

.team {
  height: 745px;
}

.block__head {
text-align: center;
}

.block__title {
  font-family: "Helvetica";
  font-size: 34px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
padding-top: 138px;
margin-bottom: 13px;
}

.block__text {
font-family: 'Merriweather';
font-size: 16px;
line-height: 26px;
font-weight: 300;
font-style: italic;
letter-spacing: 0.02em;
color: #898888;
margin: 0;
}

.team__inner {
display: flex;
justify-content: space-around;
padding-top: 127px;
/* justify-content: center;
align-items: center;
gap: 235px; */
}

.team__item {
text-align: center;
}

.team_item-img {
margin-bottom: 25px;
}

.team__item-title {
    font-family: 'Helvetica';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #464646;
    margin: 0 auto 7px;
}

.team__item-text {
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #b3b3b3;
    margin: 0 auto 22px;
}

.team__icon-box a {
    text-decoration: none;
    font-size: 20px;
    color: #e4e4e4;
    transition: 0.4s;
}

.team__icon-box a:hover {
    color: #898888;
}
